In [99]:
import pandas as pd
from sklearn.model_selection import train_test_split
import random
bank = pd.read_csv("C:/Users/jacob/Downloads/DSPR_Data_Sets/Website Data Sets/bank-additional.csv", header = 0, engine = 'python', delimiter="\;")
bank_train, bank_test = train_test_split(bank, test_size = 0.25, random_state = 7)
bank.shape

(4119, 21)

In [100]:
bank_train.shape

(3089, 21)

In [101]:
bank_test.shape

(1030, 21)

In [102]:
bank_train.head(n=5)

,"""age","""""job""""","""""marital""""","""""education""""","""""default""""","""""housing""""","""""loan""""","""""contact""""","""""month""""","""""day_of_week""""",...,"""""campaign""""","""""pdays""""","""""previous""""","""""poutcome""""","""""emp.var.rate""""","""""cons.price.idx""""","""""cons.conf.idx""""","""""euribor3m""""","""""nr.employed""""","""""y"""""""
751,"""38","""""management""""","""""married""""","""""university.degree""""","""""no""""","""""no""""","""""yes""""","""""cellular""""","""""nov""""","""""fri""""",...,1,999,0,"""""nonexistent""""",-0.1,93.200,-42.0,4.021,5195.8,"""""no"""""""
2422,"""32","""""admin.""""","""""married""""","""""university.degree""""","""""no""""","""""no""""","""""no""""","""""telephone""""","""""may""""","""""thu""""",...,2,999,0,"""""nonexistent""""",1.1,93.994,-36.4,4.860,5191.0,"""""no"""""""
488,"""40","""""admin.""""","""""married""""","""""university.degree""""","""""no""""","""""yes""""","""""no""""","""""cellular""""","""""aug""""","""""tue""""",...,1,999,0,"""""nonexistent""""",1.4,93.444,-36.1,4.966,5228.1,"""""no"""""""
2021,"""55","""""admin.""""","""""divorced""""","""""university.degree""""","""""no""""","""""yes""""","""""no""""","""""telephone""""","""""may""""","""""thu""""",...,4,999,0,"""""nonexistent""""",1.1,93.994,-36.4,4.855,5191.0,"""""no"""""""
1268,"""51","""""entrepreneur""""","""""married""""","""""university.degree""""","""""no""""","""""no""""","""""no""""","""""telephone""""","""""may""""","""""wed""""",...,1,999,0,"""""nonexistent""""",1.1,93.994,-36.4,4.856,5191.0,"""""no"""""""

In [106]:
bank_train['""job""'].value_counts()

""admin.""           759
""blue-collar""      648
""technician""       534
""services""         300
""management""       244
""self-employed""    131
""retired""          120
""entrepreneur""     109
""unemployed""        78
""housemaid""         75
""student""           62
""unknown""           29
Name: ""job"", dtype: int64

In [ ]:
to_resample = bank_train.loc[bank_train['""y""'] =="yes"]