In [15]:
import pandas as pd
from scipy import stats
from sklearn.cluster import KMeans
wine_train = pd.read_csv(r"C:\Users\jevers\Documents\Jupyter Files\CPSC 5175\Datasets\Website Data Sets\white_wine_training")

In [16]:
wine_train.head()

   alcohol  quality  sugar
0      8.4        4    5.9
1      8.5        6    5.9
2      8.5        6   18.0
3      8.5        6   18.0
4      8.5        5    9.1

In [17]:
X = wine_train[['alcohol', 'sugar']]
Xz = pd.DataFrame(stats.zscore(X), columns = ['alcohol', 'sugar'])

In [18]:
kmeans01 = KMeans(n_clusters = 2).fit(Xz)

In [19]:
cluster = kmeans01.labels_

In [20]:
Cluster1 = Xz.loc[cluster == 0]
Cluster2 = Xz.loc[cluster == 1]

In [21]:
Cluster1.describe()

           alcohol        sugar
count  1097.000000  1097.000000
mean      0.490305    -0.623752
std       0.905663     0.475694
min      -1.576448    -1.122791
25%      -0.156821    -0.951551
50%       0.427732    -0.844525
75%       1.179299    -0.352208
max       2.891203     1.477928

In [22]:
Cluster2.describe()

          alcohol       sugar
count  712.000000  712.000000
mean    -0.755428    0.961034
std      0.580989    0.818726
min     -1.826971   -0.908740
25%     -1.158911    0.354160
50%     -0.908388    0.867883
75%     -0.407343    1.488630
max      2.014374    5.512788